.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d1dff8;
}

.First-clue {
  position: absolute;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vault-container{
  background-image: url("brickwall.png");
  background-size: contain;
}

.First-clue-text {
  top: 10vh;
  right: 5vw;
  width: 280px;
  height: 100px;
  text-align: right;
}

.First-clue-triangles {
  top: 75vh;
  right: 10vw;  
  width: 100px;
  height: 100px;
}

.triangle[stage="1"], .First-clue-text-p[stage="1"], .triangle[stage="2"],
.First-clue-text-p[stage="2"] {
  opacity: 0;
}

.Second-clue {
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
}

.Second-clue-text {
  top: 10vh;
  right: 70vw;
  width: 400px;
  height: 100px;
}

.Second-clue-letters {
  top: 75vh;
  right: 70vw;
  width: 400px; 
  height: 100px;
}

.letter[stage="0"], .Second-clue-text-p[stage="0"], .letter[stage="2"],
.Second-clue-text-p[stage="2"], .input[stage="2"]{
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .Vault-icon[animation="1"] {
    animation: wobble 1s 1;
  }

  .Vault-icon[animation="2"] {
    animation: spin 6.82s linear;
  }

  .Vault-icon[animation="3"] {
    animation: spin 6.82s linear, fade-out 6.82s linear;
  }

  .Vault-icon[stage="2"] {
    opacity: 0;
  }

  .triangle-1[stage="0"] {
    animation: shift-1 4s linear infinite;
  }

  .triangle-2[stage="0"] {
    animation: shift-2 5s linear infinite;
  }

  .triangle-3[stage="0"] {
    animation: shift-3 4s linear infinite;
  }

  .triangle-4[stage="0"] {
    animation: shift-4 5s linear infinite;
  }

  .triangle[stage="1"] {
    animation: fade-out 6.82s linear;
  }

  .First-clue-text-p[stage="1"] {
    animation: fade-out 6.82s linear;
  }

  .A[stage="1"]{
    animation: fade-in 6.82s linear, move-a 10s linear infinite;
  }

  .B[stage="1"] {
    animation: fade-in 6.82s linear, move-b 10s linear infinite;
  }

  .C[stage="1"] {
    animation: fade-in 6.82s linear, move-c 10s linear infinite;
  }

  .D[stage="1"] {
    animation: fade-in 6.82s linear, move-d 10s linear infinite;
  }

  .E[stage="1"] {
    animation: fade-in 6.82s linear, move-e 10s linear infinite;
  }

  .F[stage="1"] {
    animation: fade-in 6.82s linear, move-f 10s linear infinite;
  }

  .G[stage="1"] {
    animation: fade-in 6.82s linear, move-g 10s linear infinite;
  }

  .H[stage="1"] {
    animation: fade-in 6.82s linear, move-h 10s linear infinite;
  }

  .I[stage="1"] {
    animation: fade-in 6.82s linear, move-i 10s linear infinite;
  }

  .J[stage="1"] {
    animation: fade-in 6.82s linear, move-j 10s linear infinite;
  }

  .K[stage="1"] {
    animation: fade-in 6.82s linear, move-k 10s linear infinite;
  }

  .L[stage="1"] {
    animation: fade-in 6.82s linear, move-l 10s linear infinite;
  }

  .A[stage="2"] {
    animation: fade-out 6.82s linear;
  }

  .B[stage="2"] {
    animation: fade-out 6.82s linear;
  }

  .C[stage="2"] {
    animation: fade-out 6.82s linear;
  }

  .D[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .E[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .F[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .G[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .H[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .I[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .J[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .K[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .L[stage="2"] {
    animation: fade-out 6.82s linear;  
  }

  .Second-clue-text-p[stage="1"] {
    animation: fade-in 6.82s linear;
  }

  .Second-clue-text-p[stage="2"] {
    animation: fade-out 6.82s linear;
  }

  .input[stage="2"] {
    animation: fade-out 6.82s linear;
  }

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shift-1 {
  30% {
    transform: translate(-15px, 10px);
  }

  60% {
    transform: translate(-24px, 6px);
  }

  82% {
    transform: translate(0px, 0px);
  }
}

@keyframes shift-2 {
  30% {
    transform: translate(15px, 7px);
  }

  60% {
    transform: translate(25px, 12px);
  }

  82% {
    transform: translate(0px, 0px);
  }
}

@keyframes shift-3 {
  30% {
      transform: translate(15px, -14px);
  }

  60% {
    transform: translate(20px, -10px);
  }

  82% {
    transform: translate(0px, 0px);
  }
}

@keyframes shift-4 {
  30% {
    transform: translate(15px, -14px);
  }

  60% {
    transform: translate(12px, -19px);
  }

  82% {
    transform: translate(0px, 0px);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes move-a {
  30% {
    transform: translate(160px, 40px);
  }

  60% {
    transform: translate(160px, 40px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-b {
  40% {
    transform: translate(81px, 120px);
  }

  70% {
    transform: translate(81px, 120px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-c {
  40% {
    transform: translate(40px, 40px);
  }

  70% {
    transform: translate(40px, 40px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-d {
  40% {
    transform: translate(40px, 40px);
  }

  70% {
    transform: translate(40px, 40px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-e {
  40% {
    transform: translate(-40px, -40px);
  }

  70% {
    transform: translate(-40px, -40px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-f {
  40% {
    transform: translate(-15px, -160px);
  }

  70% {
    transform: translate(-15px, -160px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-g {
  40% {
    transform: translate(-74px, -10px);
  }

  70% {
    transform: translate(-74px, -10px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-h {
  40% {
    transform: translate(10px, -240px);
  }

  70% {
    transform: translate(10px, -240px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-i {
  40% {
    transform: translate(-150px, -240px);
  }

  70% {
    transform: translate(-150px, -240px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-j {
  40% {
    transform: translate(-60px, -240px);
  }

  70% {
    transform: translate(-60px, -240px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-k {
  40% {
    transform: translate(-98px, 12px);
  }

  70% {
    transform: translate(-98px, 12px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes move-l {
  40% {
    transform: translate(-77px, 120px);
  }

  70% {
    transform: translate(-77px, 120px);
  }

  80% {
    transform: translate(0px, 0px);
  }
}